<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to my Sample App</h1>

  <h2>
    This is my home page</br> for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Click to sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("http://findicons.com/files/icons/1607/ruby_on_rails/128/ror_logo.png"),
            'http://rubyonrails.org/' %>