<footer class="footer">
  Sample page by <a href="http://www.facebook.com/hieu.frog">Hieu</br>You can view tutorial at: 
  <small>

    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://en.wikipedia.org/wiki/Ruby_on_Rails' %></li>
      <li><%= link_to "Contact", 'http://www.railstutorial.org/' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>